<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Consulta de Tickets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="style">
        <img src="/assets/carros.jpg" width="390" height="170" style="margin-top:-80px;"/>
        <!--<h4>Pagamento do Estacionamento</h4><br>--> 
        <ion-item> 
          <ion-label position="floating" required>Consultar Ticket</ion-label>
          <ion-input type="tel" [(ngModel)]="ticket"></ion-input>
        </ion-item><br>

        <ion-button expand="block" (click)="ValidarTicket()">Consultar ticket</ion-button>  
      </div>

</ion-content>
