.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.style{
  margin-top: 70px;
  //font-family: verdana;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 5%;
}
.fonte{
  font-family: verdana;
  font-size: 15;
}


